<div class="container">
    <div class="starter-template">
        <h1>Microcrawler CouchApp</h1>
        <p class="lead">CouchApp Web Interface for Microcrawler.</p>
        <p>Microcrawler is simple node.js based web scrapping framework ...</p>
    </div>
</div><!-- /.container -->
